/** Services **/

.section-services {
  padding: 35px 0px;
}

.section-services-item {
  display: inline-block;
  position: relative;
  min-height: 325px;
  margin-bottom: 25px;
  margin-right: 30px;
  width: 567px;
  border-radius: 15px;

  background-color: var(--white-color);

  transition: transform 0.2s ease-in;
}

.section-services-item:hover {
  transform: scale(1.1);
}

.section-services-item:nth-child(2n) {
  margin-right: 0;
}

.service-exclusive-img {
  background-image: url('../img/services/exclusive.jpg');
  background-repeat: no-repeat;
}

.service-booking-img {
  background-image: url('../img/services/booking.jpg');
  background-repeat: no-repeat;
}

.service-pool-img {
  background-image: url('../img/services/pool.jpg');
  background-repeat: no-repeat;
}

.service-parking-img {
  background-image: url('../img/services/parking.jpg');
  background-repeat: no-repeat;
}

.section-services-item-description {
  padding: 35px 40px;
  margin-top: 165px;
}


.section-readmore-link {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 15px;
  margin-right: 10px;

  font-size: 21px;
  font-weight: normal;
  line-height: 1;
}

.section-readmore-link-bg:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 25px;
  background-image: url("../img/link_arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  transform: translateY(2px) translateX(10px);
}

.section-services-item-text {
  line-height: 30px;
  font-size: 16px;
  font-weight: normal;
  color: var(--dark-grey-color);
}
